.content
	.whats_up
	
	.topper
		.top_label
			| НОВЫЙ
			br
			| ЙОГУРТ со злаками
		
		.label.novito_nova
			| ПОЛЬЗА МОЛОКА
			br
			| И ЗЛАКОВ В ОДНОЙ
			br
			| БУТЫЛОЧКЕ
		
		button.banner_button Это вкусно?
	
	.reg_box.column.one
		.adorable_table
			.adorable_cell
				.reg_top
					span.login.active Вход
					span /
					span.register Регистрация
				
				form.login_form
					input.email(type="email", name="email", placeholder="E-Mail")
					input.password(type="password", name="password", placeholder="Пароль")
					
					.forgot Забыли пароль?
					
					button.done Готово
				
				.social
					.social_block.facebook
					.social_block.twitter
					.social_block.vkontakte