.content
	include ../helpers/breadcrumbs
	
	.topper_title Помощь
	
	.tabs
		.tabs_flex
			.tab.feedback Ошибки и пожелания
			.tab.rules Правила сайта
			.tab.faq.active FAQ
	
	.tab_contents
		.tab_content.faq.active
			| dfdf
		.tab_content.rules
		.tab_content.feedback