@import '../dynamic/dynamic';

#main {
	&:before {
		@include pseudo;
		position: absolute;
		top: 0;
		left: 115px;
		background: url('/img/user/main/topper_background.jpg') center no-repeat;
		width: 100%;
		height: 768px;
		z-index: 5;
	}
}